{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load static %}
{% block container %}
<div class="text-center mx-auto mt-4 pb-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active"
             id="home-tab"
             data-toggle="tab"
             href="#home"
             role="tab"
             aria-controls="home"
             aria-selected="true">
             {% trans 'Search a patient' %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             id="profile-tab"
             data-toggle="tab"
             href="#profile"
             role="tab"
             aria-controls="profile"
             aria-selected="false">
            {% trans "today's queues" %}
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <form class="card card-sm" id="searchPatientsForm">
            <div class="card-body row no-gutters align-items-center">
              <div class="col-auto">
                <i class="fas fa-search h4 text-body"></i>
              </div>
              <div class="col mr-2">
                <input
                    id="pattern"
                    class="form-control form-control-lg form-control-borderless mx-2"
                    type="search"
                    autocomplete="off"
                    placeholder="{% trans 'search by DNI or Name' %}">
              </div>
              <div class="col-auto">
                <button class="btn btn-lg btn-success" type="submit">{% trans 'Search' %}</button>
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <form class="card card-sm" id="searchPatientsBySpecialityForm">
            <div class="card-body row no-gutters align-items-center">
              <div class="col-auto">
                <i class="fas fa-search h4 text-body"></i>
              </div>
              <div class="col">
                <select
                    id="specialitySelect"
                    class="form-control form-control-lg form-control-borderless mx-2">
                  <option value="" disabled selected>{% trans 'select one speciality' %}</option>
                  {% for speciality in specialities %}
                  <option value="{{speciality.id}}">{{speciality.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div id='spinnerAnimationTab1' class="spinner-border mt-3" role="status" style="display:none">
        <span class="sr-only">{% trans 'Loading...' %}</span>
      </div>

      <table id='tableDataTab1' class="table table-borderless table-hover" style="display:none">
        <thead>
        <tr class="border-bottom">
          <th scope="col">DNI</th>
          <th scope="col" class="">{% trans  'name' %}</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="tableBodyDataTab1">
        </tbody>
      </table>

    </div>


  </div>
</div>
<div class="position-fixed-bottom bg-white text-center border-top">
  <a class="btn btn-secondary my-2" href="{% url 'dashboard:add_patient'%}">
    <i class="fas fa-plus"></i>
    {% trans 'Add new Patient' %}
  </a>
</div>

{% endblock %}
{% block scripts %}
<script>
    const table = $('#tableDataTab1');
    const tableBody = $('#tableBodyDataTab1');
    const spinner = $('#spinnerAnimationTab1');

    function setIsLoading(isLoading) {
        if (isLoading) {
            spinner.show();
        } else {
            spinner.hide();
        }
    }

    function setIsShowingData(isShowingData) {
        if (isShowingData) {
            table.show();
        } else {
            table.hide();
        }
    }

    function updatetableDataTab1(data, showDateTime) {
        if (data.length === 0) {
            tableBody.empty()
        } else {
            const rows = []
            data.forEach(item => {
                let attentions = '';
                item.attentions.forEach(attention => {
                    attentions += `
                    <tr>
                      <td class="text-muted" colspan="2">
                        <div class="d-flex justify-content-between">
                          <div>{% trans 'speciality' %}: ${attention.speciality}</div>
                          <div>{% trans 'registered' %}: ${showDateTime ? attention.datetime : attention.time}</div>
                        </div>
                      </td>
                      <td class="text-right">
                        <a
                          class="btn btn-secondary text-capitalize"
                          href="edit-attention/${item.id}/${attention.id}">
                          {% trans 'edit attention' %}
                        </a>
                      </td>
                    </tr>
                    `;
                })

                const row = `
                <tr class="border-top">
                  <td>${item.dni}</td>
                  <td>${item.first_name} ${item.last_name}</td>
                  <td class="text-right">
                    <a class="btn btn-link text-capitalize" href="/edit-patient/${item.id}">{% trans 'edit patient' %}</a>
                    <a class="btn btn-secondary text-capitalize" href="/add-attention/${item.id}">{% trans 'add attention' %}</a>
                  </td>
                </tr>
                ${attentions}
              `;
                tableBody.append(row)
            })
        }
    }

    $('#searchPatientsForm').submit(function (e) {
        e.preventDefault();
        setIsLoading(true);
        setIsShowingData(false);
        updatetableDataTab1([], false);
        const pattern = $('#pattern').val()
        $.post(`/search-patient/${pattern}`, function (response) {
            setIsLoading(false);
            setIsShowingData(true);
            updatetableDataTab1(response, true);
        })

    })

    $('#specialitySelect').change(function (e) {
        e.preventDefault();
        setIsLoading(true);
        setIsShowingData(false);
        updatetableDataTab1([], false);
        const pattern = $('#specialitySelect').val()
        $.post(`/search-patient-advanced/${pattern}`, function (response) {
            setIsLoading(false);
            setIsShowingData(true);
            updatetableDataTab1(response, false);
        })
    })

    $('#myTab li a').on('shown.bs.tab', function (e) {
        setIsShowingData(false);
        updatetableDataTab1([], false);
    })

</script>
{% endblock %}
